{% extends 'layoutt.html' %} 


{% block content %} 
<style>
    body {
        background-image: url('https://zippermiranda-capitalcactus.codio.io/PlantParenthood/images/nik-py8-g41now8-unsplash.jpg');  /*will be changing this*/
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center;
    }
    
    .search-form input[type="text"] {
        height: 60px; /* You can adjust the height to your preference */
        width: 1000px; /* You can adjust the width to your preference */
        font-size: 20px; /* Optional: Adjust the font size if needed */
        /* Add any other styling you want for the search bar */
    }
</style>


<h1>Welcome to Plant-Parenthood</h1>
<h2>Children? In this Economy? Have Plants Instead! </h2>
<p> What's Your Child's Species </p>
<form class="search-form" action="{{ url_for('home') }}" method="POST">
    {{ form.hidden_tag() }}
    <input type="text" name="search" placeholder="Enter Plant Type...">
    {{ form.submit(class="btn btn-primary search-button", value="Search") }}
</form> 

{% endblock %}