{% extends 'layoutt.html' %} 


{% block content %} 
<style>
    body {
        background-image: url('https://zippermiranda-capitalcactus.codio.io/PlantParenthood/images/chris-abney-qLW70Aoo8BE-unsplash.jpg');  /*will be changing this*/
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center;
        color: white;
    }
    .search-form input[type="text"] {
        height: 30px; /* You can adjust the height to your preference */
        width: 700px; /* You can adjust the width to your preference */
        font-size: 20px; /* Optional: Adjust the font size if needed */

    }
    .search-button{
        padding: 60px 60px;
        font-size: 20px;
    }
    h1{
        margin-top: 100px;
        font-size: 48px;
        text-shadow: 2px 2px 6px darkgreen;
    }
    
    h2{
        font-size: 36px;
        margin-bottom: 100px;
        text-shadow: 2px 2px 6px darkgreen;
    }

    p{
        text-shadow: 2px 2px 6px darkgreen;
        font-size: 20px
    }
</style>

<h1>Welcome to Plant-Parenthood</h1>
<h2>Children? In this Economy? Have Plants Instead! </h2>
<p> What's Your Child's Species? </p>
<form class = "search-form" method="post">
        <input type="text" name="search" placeholder="Enter Plant Type...">
        <input type="submit" class="btn btn-primary search-button" value="Search">
</form>

{% endblock %}

<!-- <form class="search-form" action="{{ url_for('home_page') }}" method="POST">
    {{ form.hidden_tag() }}
    <input type="text" name="search" placeholder="Enter Plant Type...">
    {{ form.submit(class="btn btn-primary search-button", value="Search") }}
</form>  -->