{% extends 'layoutt.html' %} 


{% block content %} 
<style>
     body {
        background-image: url('https://zippermiranda-capitalcactus.codio.io/nik-py8-g41now8-unsplash.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center;
    }

    .search-form input[type="text"] {
        height: 55px; 
        width: 1000px; 
        font-size: 23px; 
       
    }

</style>


<h1>Welcome to Plant-Parenthood</h1>
<h2>Children? In this Economy? Have Plants Instead! </h2>
<p> What's Your Child's Species </p>
<form class="search-form" action="{{ url_for('home') }}" method="POST">
    {{ form.hidden_tag() }}
    <input type="text" name="search" placeholder="Enter Plant Type...">
    {{ form.submit(class="btn btn-primary search-button", value="Search") }}
</form> 

{% endblock %}