{% extends "layout.html" %}

{% block title %}
    Plant Portfolio
{% endblock %}

{% block content %}
<div >
    <h1 style = "color:#0077B6">Your Children!</h1>
    <ul>
        {% if allplants|length == 0 %}
            <p>No plants in the portfolio!</p>
        {% else %}
            <li>
                {% for plant in allplants %}
                    <div class="box">
                        <h3 id="plant_name_{{plant.id}}">{{plant.plnt_name}}</h3>
                        <form class="rename-form">
                            <input type="text" class="rename-field" name="rename" placeholder="Rename" data-plant-id="{{plant.id}}">
                            <input type="submit" value="Submit">
                        </form>
                        <form action="{{ url_for('portfolio') }}" method="POST">
                            <input type="hidden" name="delete" value="{{plant.id}}">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
    </ul>
</div>
<script>
    $(".rename-form").on("submit", function(e) {
        e.preventDefault();
        let new_name = $(this).find('.rename-field').val();
        let plant_id = $(this).find('.rename-field').data('plant-id');
        $.post('/rename_plant', {plant_id: plant_id, new_name: new_name}, function(data) {
            if(data.status === 'success') {
                $('#plant_name_' + plant_id).text(new_name);
            }
        });
    });
</script>
{% endblock %}

