{% extends "layout.html" %}

{% block title %}
    Plant Portfolio
{% endblock %}

{% block content %}
<div >
    <h1 style = "color:#0077B6">Your Children!</h1>
    <ul>
        {% if allplants|length == 0 %}
            <p>No plants in the portfolio!</p>
        {% else %}
            <li>
                {% for plant in allplants %}
                    <div class="box">
                        <h3>{{plant.plnt_name}}</h3>
                        <!-- <img class="left-image" src={{image}} alt="Left Image"> -->
                        <div class="flex">
                            <form action="{{ url_for('portfolio') }}" method="POST">
                                <input type="text" class="flex-child" name="rename" value="rename" autofocus placeholder="Rename">
                                <input type="hidden" class="flex-child" name="delete"  value="delete">
                                <input type="submit" class="flex-child" value="Submit">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

